services:
  frontend:
    build:
      dockerfile: frontend/Dockerfile.dev
      context: .
    env_file: .env
    ports: 
      - "5173:5173"
    environment:
      - TZ=Asia/Shanghai
    volumes: 
      - ./frontend:/app # bind mounting to enable live reload
      - /app/node_modules # mount node_modules to an anonymous volume so that the volume above doesn't replace container node_modules
  
  backend:
    build:
      dockerfile: backend/Dockerfile.dev
      context: .
    env_file: .env
    ports: 
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /usr/local/lib/python3.12/site-packages # mount installed packages to a named volume so that pip install does not freak up!
    environment:
      - TZ=Asia/Shanghai